html {
	font-family: 'Open Sans', sans-serif;	
}

body {
	display: grid;
	grid-template-columns: repeat(12,1fr);
	margin:0px;
}

@mixin box($color,$height) {
	background-color:$color;
	height:$height;
	grid-column:1/13;
}

.top {
	@include box(#ff0000,50px);
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	align-items:center;
}

.slider {
	@include box(#00ff00,100px);
}

.newsletter {
	@include box(#0000ff,100px);
}

.topbrands {
	@include box(#ffff00,100px);
}

.musthave {
	@include box(#ff00ff,100px);
}

.products {
	@include box(#00ffff,100px);
}

.sale {
	@include box(#ff8000,100px);
}

.reviews {
	@include box(#ff0080,100px);
}

.socialmedia {
	@include box(#808000,100px);
}

.logo {
}

.menu {
}



